
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <div class="container-fluid">
        <a routerLink="/dashboard"  class="nav-item nav-link">Dashboard</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/admission" class="nav-item nav-link">Registration</a>
                <a routerLink="/result" class="nav-item nav-link">Results</a>
               <a routerLink="/help" class="nav-item nav-link ">Admission</a>
                </div>
                
               
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    
</nav> -->
<div class="wrapper">
<nav  class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <div class="container-fluid">
      <a class="nav-link active" routerLink="/dashboard">Dashboard</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/admission">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/result">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/help">Admission</a>
          </li>
        </ul>

        <div class="d-flex">
            <a href="#"  class="nav-item nav-link">Logout</a>
        </div>
        
      </div>
      
      
    </div>
  </nav>

</div>